.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.potato {
  font-size: 18px;
  animation: spin .1s infinite;
  animation: zoom 1s infinite;
}

/* @keyframes zoom {
  from {
    transform: translate(-100%)
  }
  to {
    transform: translate(100%);
  }
  
} */

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.header {
  margin: 50px auto;
  display: flex;
  flex-direction: column;
}

.header-title{
  font-size: 70px;
  font-family: "Fugaz One";
  letter-spacing: 1px;
  color: #222;
  margin-top:-20px;
  margin-bottom: 0;
}
.header-icon{
  width:80px;
}

.header-desc{
  margin: 0 auto;
  width: 30%;
  color: #222;
}


.large-container{
  width: 100%;
  display: flex;
  margin: 25px auto;
  justify-content: center;
}
.content-container{
  margin-left: 20px;
  width: 60%;
  height: 600px;
}
.map-container{
  width: 100%;
  height: 600px;
}
.sidebar{
  width: 25%;
}
.sidebar-select{
  width: 100%;
}
.restaurant-card{
  border: 1px solid #ccc;
  margin-bottom: 30px;
  padding: 10px;
  position: relative;
  background-color: #fff;
  color: #444;
  line-height: 150%;
  transition: 0.3s;
}
.restaurant-card:hover{
  background-color: #ccc;
  transition: 0.3s;
}
.card-icon{
  width: 60px;
  height: 60px;
  position: absolute;
  bottom: -25px;
  right: 10px;
  border-radius: 100%;
}

.tabs{
  text-align: left;
  height: 30px;
  display: flex;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}
.tabs a{
  padding: 5px 20px 5px 5px;
  
  text-decoration: none;
  color: #444;
}

.active{
  background-color: #ccc;
}

select{
  border: 1px solid #ccc;
  
  height: 30px;
}

.restaurant-map-popups {
  display: flex;
  flex-direction: row;
  width: max-content;
}

.popup-text{
  display: flex;
  flex-direction: column;
}

.popup-top-text-line{
  text-align: left;
  
}  

.popup-bottom-text-line{
  text-align: left;
  
}

.popup-side-line{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #888;
}